body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.mobile-view {
  display: flex;
  flex-direction: column;
  flex-basis: 380px;
  background-color: #1c1a19;
  height: 2000px;
}

.mobile-header {
  display: flex;
  height: 92px;
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 550px;
  top: 0;
  left: 550px;
}

.display-header {
  height: 40px;
  margin-left: 25px;
}

.signal-div {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  padding: 15px;
}

.union-div {
  margin-top: 15px;
  margin-right: 45px;
}

#time {
  margin-left: 20px;
}

#portfolio-name {
  font-weight: bold;
  font-family: Roboto, Arial, monospace;
  font-size: 18px;
  display: flex;
  text-align: justify;
  align-items: center;
}

p {
  color: white;
}

.headline-section {
  margin-left: 30px;
}

.name-div {
  margin-top: 240px;
}

.name {
  color: #ff6b00;
  font-family: Crete Round, Arial, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 10px;
  letter-spacing: 0.37px;
}

#job-title {
  width: 327px;
  height: 27px;
  font-family: Roboto, Arial, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: white;
  line-height: 32px;
  display: flex;
  align-items: center;
}

#introduction {
  width: 327px;
  height: 123px;
  font-family: Poppins, Arial, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.job-title-div {
  margin-top: 10px;
}

.social {
  margin-top: 30px;
  display: flex;
  width: 250px;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 100px;
}

.icon-interactions {
  display: flex;
  margin-left: 10px;
}

.icon-interactions:hover {
  background-color: gray;
  opacity: 0.7;
}

#side_image {
  display: flex;
  width: 50px;
  margin-right: 0;
  margin-left: 200px;
  height: 50px;
  size: 100 100;
}
