.about-me {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  align-items: center;
}

.about-div {
  margin-top: 70px;
}

.about-me-title {
  color: #ff6b00;
  font-family: 'Crete Round', monospace;
  font-size: 65px;
  font-weight: bold;
  margin-left: 30px;
}

.about-me-description-div {
  display: block;
  height: 500px;
  width: 100%;
}

.first-about-me-description-div {
  width: 320px;
  margin-left: 35px;
}

.about-me-description {
  font-family: 'Inter', monospace;
  font-size: 18px;
  line-height: 24px;
}

.get-resume-button {
  width: 180px;
  padding: 10px;
  background-color: #ff6b00;
  border: 0;
  height: 50px;
  color: #fff;
  font-family: Inter, monospace;
  font-size: 17px;
  font-weight: bold;
  margin-top: 25px;
}

.language-framework-skills {
  list-style: none;
  font-family: Inter, monospace;
  color: white;
  padding-left: 0;
}

.individual-language-framework-skills-li {
  font-size: 32px;
  font-family: Inter, monospace;
  padding-bottom: 8px;
}

.children-of-language-framework-skills-ul {
  font-size: 22px;
  list-style-type: none;
  font-family: Inter, monospace;
  text-align: center;
  width: 170px;
  line-height: 24px;
  padding-left: 0;
  margin-top: 40px;
}

.children-of-language-framework-skills-li {
  padding: 20px;
}

.children-of-framework-li {
  width: 155px;
  padding: 20px;
}

.frameworks-image {
  margin-right: 20px;
  height: 20px;
  vertical-align: center;
  margin-top: 20px;
}

.line-0 {
  display: flex;
  height: 1px;
  background-color: white;
  width: 350px;
  margin-top: 20px;
}

.get-resume-button:hover {
  border: 2px solid;
  border-color: #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.get-resume-button:active {
  background-color: #e05304;
  color: white;
}

@media (min-width: 768px) {
  .language-framework-skills {
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    padding-bottom: 70px;
    margin-top: 70px;
    width: 100%;
  }

  .individual-language-framework-skills-li {
    font-size: 25px;
  }

  .line-0 {
    width: 650px;
  }

  .children-of-language-framework-skills-ul {
    font-size: 20px;
    text-align: left;
    padding: 0;
  }

  .children-of-language-framework-skills-li {
    padding: 10px;
  }

  .about-me-desktop-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/images/about-me-image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
    height: 450px;
    margin-bottom: 60px;
  }

  .about-me-title {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .about-me-description {
    font-size: 17px;
    margin-top: 0;
    line-height: 28px;
    width: 440px;
  }

  .about-me-description-div {
    margin-left: 0;
  }

  .first-about-me-description-div {
    margin-left: 50px;
    width: 560px;
  }

  .get-resume-button {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .language-framework-skills {
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-top: 70px;
    width: 900px;
  }

  .individual-language-framework-skills-li {
    font-size: 35px;
  }

  .line-0 {
    width: 800px;
  }

  .children-of-language-framework-skills-ul {
    font-size: 20px;
    text-align: left;
    padding: 0;
  }

  .children-of-language-framework-skills-li {
    padding: 20px;
  }

  .about-me-desktop-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/images/about-me-image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;
    height: 450px;
    margin-bottom: 50px;
  }

  .about-me-title {
    margin-left: 95px;
    margin-bottom: 20px;
  }

  .about-me-description {
    font-size: 20px;
    margin-top: 0;
    line-height: 32px;
  }

  .about-me-description-div {
    margin-left: 0;
  }

  .first-about-me-description-div {
    margin-left: 95px;
    width: 560px;
  }

  .get-resume-button {
    margin-top: 20px;
  }
}

@media (min-width: 1440px) {
  .language-framework-skills {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 70px;
    width: 1124px;
  }

  .individual-language-framework-skills-li {
    font-size: 35px;
    font-weight: bold;
  }

  .line-0 {
    width: 1150px;
  }

  .children-of-language-framework-skills-ul {
    font-size: 24px;
    text-align: left;
    padding: 0;
  }

  .children-of-language-framework-skills-li {
    padding: 20px;
  }

  .about-me-desktop-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/images/about-me-image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px;
    height: 450px;
    margin-bottom: 120px;
  }

  .about-me-title {
    margin-left: 150px;
    margin-bottom: 20px;
  }

  .about-me-description {
    font-size: 20px;
    margin-top: 0;
    line-height: 32px;
  }

  .about-me-description-div {
    margin-left: 0;
  }

  .first-about-me-description-div {
    margin-left: 150px;
    width: 560px;
  }

  .get-resume-button {
    margin-top: 20px;
  }
}
