button {
  cursor: pointer;
}

button:hover {
  color: white;
}

input:hover {
  opacity: 0.7;
}

textarea:hover {
  opacity: 0.7;
}

.footnote-socials a:hover {
  opacity: 0.8;
}

.footnote-socials a:active {
  opacity: 1;
}

.footnote-socials-li {
  transition: transform 1s;
}

.footnote-socials-li:hover {
  transform: scale(1.5, 1.5);
}
