.footnote {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin-top: 0;
  height: 900px;
}

.brief-note-div {
  align-self: center;
  width: 330px;
  margin-left: 60px;
}

.brief-note {
  font-family: Inter, monospace;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.brief-note-desktop {
  display: none;
  font-family: Inter, monospace;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

#get-intouch {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 35px;
}

#get-in-touch-individuals {
  width: 330px;
  padding: 10px;
}

input {
  display: block;
  width: 330px;
  margin-top: 20px;
  padding: 15px;
}

.line1 {
  display: block;
  margin-top: 90px;
  height: 1px;
  background-color: #dfe1e6;
  width: 400px;
}

.line2 {
  display: block;
  margin-top: 10px;
  height: 3px;
  background-color: #0d151e;
  width: 80px;
}

.line3 {
  display: block;
  height: 1px;
  background-color: white;
  width: 350px;
  margin-top: 20px;
}

.footnote-socials {
  display: flex;
  width: 200px;
  margin-top: 30px;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 50px;
}

.input-individuals {
  padding: 10px;
  width: 295px;
  height: 18px;
  font-family: Inter, monospace;
  margin: 10px;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: #dbd8d7;
}

#textarea-box {
  background-color: #fbf8f7;
  width: 295px;
  padding: 10px;
  margin: 10px;
  border: 0;
}

#get-in-touch-button {
  width: 160px;
  padding: 10px;
  background-color: #ff6b00;
  border: 0;
  height: 50px;
  color: #fff;
  font-family: Inter, monospace;
  font-size: 17px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 80px;
}

#get-in-touch-button:hover {
  border: 2px solid;
  border-color: #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

#get-in-touch-button:active {
  background-color: #e05304;
  color: white;
}

@media (min-width: 768px) {
  .footnote {
    height: 660px;
    width: 100%;
  }

  .brief-note-and-form-div {
    display: flex;
    justify-content: center;
    width: 768px;
  }

  .line1 {
    width: 100%;
  }

  .line2 {
    display: none;
  }

  .brief-note {
    display: none;
  }

  .brief-note-div {
    margin-left: 0;
    width: 300px;
  }

  .brief-note-desktop {
    display: flex;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }

  .footnote-socials {
    display: flex;
    width: 300px;
    margin-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .form-container {
    width: 300px;
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 0;
  }

  .input-individuals {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #dbd8d7;
    padding: 10px;
    width: 300px;
    height: 18px;
    font-family: Inter, monospace;
  }

  #textarea-box {
    width: 300px;
  }

  #get-in-touch-button {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .footnote {
    height: 660px;
    width: 100%;
  }

  .brief-note-and-form-div {
    display: flex;
    justify-content: space-around;
    width: 1024px;
  }

  .line1 {
    width: 100%;
  }

  .line2 {
    display: none;
  }

  .brief-note {
    display: none;
  }

  .brief-note-div {
    margin-left: 0;
  }

  .brief-note-desktop {
    display: flex;
    width: 350px;
    margin-top: 0;
    font-size: 35px;
    line-height: 35px;
  }

  .footnote-socials {
    display: flex;
    width: 300px;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }

  .form-container {
    width: 400;
    margin-left: 50px;
    margin-top: 90px;
    margin-right: 150px;
  }

  .input-individuals {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #dbd8d7;
    padding: 10px;
    width: 400px;
    height: 18px;
    font-family: Inter, monospace;
  }

  #textarea-box {
    width: 400px;
  }

  #get-in-touch-button {
    margin-left: 10px;
  }
}

@media (min-width: 1440px) {
  .footnote {
    height: 720px;
    width: 100%;
  }

  .brief-note-and-form-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .line1 {
    width: 100%;
  }

  .line2 {
    display: none;
  }

  .brief-note {
    display: none;
  }

  .brief-note-desktop {
    display: flex;
    width: 400px;
    line-height: 45px;
    margin-left: 50px;
  }

  .footnote-socials {
    display: flex;
    width: 300px;
    margin-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .form-container {
    width: 100%;
    margin-left: 250px;
    margin-right: 0;
  }

  .input-individuals {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #dbd8d7;
    padding: 10px;
    width: 600px;
    height: 18px;
    font-family: Inter, monospace;
    font-size: 15px;
  }

  #textarea-box {
    width: 600px;
    font-size: 15px;
  }

  #get-in-touch-button {
    margin-left: 10px;
  }
}
