body {
  width: 400px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  body {
    width: 1024px;
  }
}

@media (min-width: 1440px) {
  body {
    width: 1440px;
  }
}
