header {
  height: 72px;
  background-color: #3e3c3c;
}

.mobile-nav {
  background-color: #3e3c3c;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 400px;
  top: 0;
  z-index: 4;
}

.hamburger {
  cursor: pointer;
}

.hamburger-X {
  cursor: pointer;
  display: none;
}

.hamburger-X .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  /* transition-duration: 10s; */
}

.hamburger-X .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-X .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  top: 10px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all ease-in-out;
  background-color: white;
  border-radius: 10px;
  margin-right: 30px;
}

.bar:nth-child(1) {
  margin-top: 20px;
}

.hamburger:active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger:active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger:active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-ul {
  position: fixed;
  top: 50px;
  left: 0;
  gap: 0;
  flex-direction: column;
  background-color: #3e3c3c;
  list-style-type: none;
  /* display: none; */
  vertical-align: center;
  color: white;
  padding: 10px;
  margin: 0;
  width: 100%;
  align-items: center;
  text-align: center;
}

.nav-ul:active {
  left: 0;
  display: flex;
}

.portfolio-name-and-union-icon {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  width: 100%;
  padding: 10px;
  margin: 0;
  text-decoration: none;
}

.nav-items:hover {
  background-color: #555;
}

.nav-items-a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 0;
  transform: 0.7s ease;
}

.nav-items-a:hover {
  color: rgb(246, 144, 28);
}

.desktop-headline-intro-div {
  display: none;
}

#portfolio-name {
  font-weight: bold;
  font-family: Roboto, Arial, monospace;
  font-size: 18px;
  display: flex;
  text-align: justify;
  align-items: center;
  padding-left: 25px;
  animation-name: spin;
  animation-duration: 4s;
  width: 100px;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

.headline-section {
  height: 800px;
  background-color: #1c1a19;
  background-image: url(/images/mobile-side-image.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 0;
}

.mobile-headline-intro-div {
  display: flex;
  flex-direction: column;
}

.name-div {
  padding-top: 240px;
  padding-left: 20px;
  transition: transform 2s;
}

.name {
  color: #ff6b00;
  font-family: Crete Round, Arial, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 10px;
  letter-spacing: 0.37px;
  transition: transform 2s;
}

.name:hover {
  transform: translateY(100%);
}

#job-title {
  width: 327px;
  height: 27px;
  font-family: Roboto, Arial, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: white;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.job-title-div {
  margin-top: 10px;
  margin-left: 20px;
}

#introduction {
  width: 327px;
  height: 123px;
  font-family: Poppins, Arial, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 20px;
}

.social {
  margin-top: 0;
  display: flex;
  width: 250px;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 100px;
  padding-left: 15px;
}

.icon-interactions {
  display: flex;
  transition: transform 1s;
}

.icon-interactions:hover {
  transform: scale(1.5, 1.5);
}

.social-li:hover {
  opacity: 0.8;
}

@media (min-width: 400px) {
  header {
    background-color: #3e3c3c;
    height: 72px;
  }

  .mobile-nav {
    width: 100%;
  }

  .display-nav {
    width: 100%;
  }

  .headline-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    background-color: #3e3c3c;
    height: 72px;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .hamburger-X {
    display: none;
  }

  #portfolio-name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    margin-top: 25px;
  }

  .nav-ul {
    position: static;
    display: flex;
    padding: 0;
    right: 0;
    flex-direction: row;
    justify-items: center;
    width: 48%;
  }

  .nav-items {
    font-family: Inter, monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  .nav-items-a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: Inter, monospace;
    font-size: 18px;
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-items-a:hover {
    background-color: #555;
  }

  .headline-section {
    display: flex;
    height: 870px;
    background-image: url('/images/Illustration-header@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;
    width: 100%;
  }

  .mobile-headline-intro-div {
    display: none;
  }

  .desktop-headline-intro-div {
    display: flex;
  }

  .social-ul {
    list-style-type: none;
    width: 150px;
    align-content: center;
    margin-top: 250px;
    padding-left: 0;
  }

  .social-li {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 70px;
    height: 44px;
  }

  .developer-intro {
    margin-top: 100px;
    width: 400px;
  }

  .developer-name {
    font-family: 'Crete Round', monospace;
    font-size: 72px;
    font-weight: 400;
    color: #f55800;
    line-height: 81px;
    margin-bottom: 20px;
    transition: transform 2s;
  }

  .developer-name:hover {
    transform: translateX(100%);
  }

  .developer-job {
    font-family: Inter, monospace;
    font-size: 32px;
    font-weight: 400px;
    line-height: 44px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .developer-description {
    font-family: Inter, monospace;
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
  }
}

@media (min-width: 1024px) {
  header {
    background-color: #3e3c3c;
    height: 72px;
  }

  .mobile-nav {
    width: 100%;
  }

  .display-nav {
    width: 100%;
  }

  #hamburger {
    display: none;
  }

  .hamburger-X {
    display: none;
  }

  #portfolio-name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    margin-top: 25px;
  }

  .nav-ul {
    display: flex;
    padding: 0;
    margin-right: 80px;
    height: 72px;
    margin-top: 0;
    width: 45%;
  }

  .nav-items {
    margin-left: 25px;
    font-family: Inter, monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }

  .nav-items-a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
    font-family: Inter, monospace;
    font-size: 18px;
    margin-top: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav-items-a:hover {
    background-color: #555;
  }

  .headline-section {
    display: flex;
    height: 870px;
    background-image: url('/images/Illustration-header@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 450px;
  }

  .mobile-headline-intro-div {
    display: none;
  }

  .desktop-headline-intro-div {
    display: flex;
  }

  .intro-page {
    margin-top: 72px;
    display: flex;
    height: 870px;
    background-image: url('/images/Illustration-header@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #1c1a19;
    color: white;
  }

  .social-ul {
    list-style-type: none;
    width: 150px;
    align-content: center;
    margin-top: 250px;
    padding-left: 0;
  }

  .social-li {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 70px;
    height: 44px;
  }

  .developer-intro {
    margin-top: 100px;
    width: 550px;
  }

  .developer-name {
    font-family: 'Crete Round', monospace;
    font-size: 72px;
    font-weight: 400;
    color: #f55800;
    line-height: 81px;
    margin-bottom: 20px;
  }

  .developer-job {
    font-family: Inter, monospace;
    font-size: 32px;
    font-weight: 400px;
    line-height: 44px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .developer-description {
    font-family: Inter, monospace;
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
  }
}

@media (min-width: 1440px) {
  header {
    /* background-color: red; */
    height: 72px;
  }

  .mobile-nav {
    width: 100%;
  }

  .display-nav {
    width: 100%;
  }

  #hamburger {
    display: none;
  }
  
  .hamburger-X {
    display: none;
  }

  /* #union-icon {
    display: none;
  } */

  #portfolio-name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    margin-top: 25px;
  }

  .nav-ul {
    display: flex;
    padding: 0;
    margin-right: 80px;
    height: 72px;
    margin-top: 0;
  }

  .nav-items {
    margin-left: 25px;
    font-family: Inter, monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }

  .nav-items-a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
    font-family: Inter, monospace;
    font-size: 18px;
    margin-top: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav-items-a:hover {
    background-color: #555;
  }

  .headline-section {
    display: flex;
    height: 870px;
    background-image: url('/images/Illustration-header@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
  }

  .mobile-headline-intro-div {
    display: none;
  }

  .desktop-headline-intro-div {
    display: flex;
  }

  .intro-page {
    margin-top: 72px;
    display: flex;
    height: 870px;
    background-image: url('/images/Illustration-header@1x.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #1c1a19;
    color: white;
  }

  .social-ul {
    list-style-type: none;
    width: 150px;
    align-content: center;
    margin-top: 250px;
    padding-left: 0;
  }

  .social-li {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 70px;
    height: 44px;
  }

  .developer-intro {
    margin-top: 100px;
    width: 550px;
  }

  .developer-name {
    font-family: 'Crete Round', monospace;
    font-size: 72px;
    font-weight: 400;
    color: #f55800;
    line-height: 81px;
    margin-bottom: 20px;
  }

  .developer-job {
    font-family: Inter, monospace;
    font-size: 32px;
    font-weight: 400px;
    line-height: 44px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .developer-description {
    font-family: Inter, monospace;
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
  }
}
